.place__title {
  color: #FFFFFF;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  width: 460px;
  /*height: 152px;*/
  margin: 0;
  padding-bottom: 48px;
}
@media all and (max-width: 1279px) {
  .place__title {
    width: 440px;
  }
}
@media all and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 330px;
  }
}
@media all and (max-width: 767px) {
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding-left: 0;
    padding-bottom: 32px;
  }
}
