.place__title {
  color: #FFFFFF;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  width: 460px;
  /*height: 152px;*/
  margin: 0;
}
@media all and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media all and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
