.page {
  /*min-width: 1280px;*/
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  /*-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
 }*/
}
 /*@media all and (max-width: 1024px) {
  .page {
    min-width: 1024px;
  }
}*/
@media all and (max-width: 768px) {
  .page {
    min-width: 768px;
  }
}
@media all and (max-width: 320px) {
  .page {
    min-width: 320px;
  }
}
