.photo-grid {
  margin: auto;
  max-width: 1184px;
  height: 671px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 12px;
}
@media all and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    height: 942px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
}
@media all and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    height: 1664px;
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
    padding-top: 88px;
  }
}
@media all and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    height: 2724px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
    padding-top: 64px;
  }
}
