.places {
  padding-bottom: 92px;
  max-width: 1280px;
  margin: auto;
}

@media all and (max-width: 1279px) {
  .places {
    max-width: 1024px;
  }
}

@media all and (max-width: 1023px) {
  .places {
    max-width: 768px;
    padding-bottom: 90px;
  }
}

@media all and (max-width: 767px) {
  .places {
    max-width: 320px;
    padding-bottom: 66px;
  }
}
