.lead {
  display: flex;
  flex-direction: column;
  align-items: center;

}
/*@media all and (max-width: 1279px) {
  .lead {
    max-width: 1024px;
  }
}
@media all and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}
@media all and (max-width: 767px) {
  .lead {
    max-width: 320px;
  }
}*/
