.cover__subtitle {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  max-width: 360px;
  /*min-height: 66px;*/
  align-self: center;
  text-align: center;
  margin: 0;
  padding-top: 32px;
}

@media all and (max-width: 767px) {
  .cover__subtitle {
    max-width: 260px;
    /*min-height: 48px;*/
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
}
