.header__logo {
  width: 176px;
  height: 52px;
  padding: 28px 0 0 48px;
  background-color: #2A2C2F;  ;
  color: #FFFFFF;  ;
}
@media (max-width: 319px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
