.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 56px;
}
@media all and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
