.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 48px;
}

/*@media all and (max-width: 1279px) {
  .header {
    padding-bottom: ;
  }
}

@media all and (max-width: 1023px) {
  .header {
    padding-bottom: ;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding-bottom: ;
  }
}*/
