.lead__route {
  width: 886px;
  height: 245px;
  position: absolute;
  top: 128.61px;
  left: 41.5px;
  object-fit: cover;
}
@media (max-width: 1023px) {
  .lead__route {
    max-width: 836px;
    max-height: 212px;
    position: absolute;
    top: 121px;
    left: 39px;
  }
}
@media (max-width: 767px) {
  .lead__route {
    max-width: 692px;
    max-height: 175px;
    position: absolute;
    top: 100px;
    left: 35px;
  }
}
@media (max-width: 319px) {
  .lead__route {
    max-width: 288px;
    max-height: 73px;
    position: absolute;
    top: 42px;
    left: 14px;
  }
}
