.footer__link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  max-width: 50px;
  /*min-height: 18px;*/
  text-decoration: none;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
