.lead__title {
  color: #FFFFFF;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  max-width: 720px;
  /*min-height: 200px;*/
  text-align: center;
  margin: auto;
}
@media all and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    /*min-height: 88px;*/
  }
}
