.lead__title {
  color: #FFFFFF;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  width: 720px;
  height: 200px;
  text-align: center;
  margin: 0;
}
/*@media all and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 288px;
    height: 88px;
  }
}*/
