.place__paragraph {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 163%;
  font-weight: normal;
  max-width: 460px;
  padding-left: 40px;
}
@media all and (max-width: 1024px) {
  .place__paragraph {
    padding-left: 32px;
    max-width: 456px;
  }
}
@media all and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 352px;
    padding-left: 28px;
  }
}
@media all and (max-width: 320px) {
  .place__paragraph {
    padding-left: 16px;
    max-width: 288px;
  }
}
