.place__paragraph {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 163%;
  font-weight: normal;
  max-width: 484px;
  margin: 0;
  padding-top: 26px;
}
@media all and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }
}
@media all and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    padding-top: 25px;
  }
}
@media all and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    padding-top: 25px;
  }
}
