.footer__copyright {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  max-width: 186px;
  min-height: 16px;
  margin: 0;
}
@media all and (max-width: 767px) {
  .footer__copyright {
    max-width: 186px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 0 24px 16px;
  }
}
