.lead__image {
  background-image: url(../../../images/lead-polka.jpg);
  max-width: 984px;
  height: 615px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media all and (max-width: 1279px) {
  .lead__image {
    max-width: 100%;
    height: 580px;
  }
}
@media all and (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
    height: 480px;
  }
}
@media all and (max-width: 767px) {
  .lead__image {
    max-width: 100%;
    height: 200px;
  }
}
