.intro__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 163%;
  font-weight: normal;
  max-width: 690px;
  min-height: 208px;
  margin: 0;
  padding: 40px 0 33px 0;
}
@media all and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
    padding-bottom: 34px;
  }
}
