.place__website-link {
  /*text-decoration: none;*/
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  cursor: pointer;
  padding-bottom: 0;
}
@media all and (max-width: 767px) {
  .place__website-link {

  }
}
