.place__website-link {
  /*text-decoration: none;*/
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  cursor: pointer;
  padding-bottom: 23px;
}
@media all and (max-width: 767px) {
  .place__website-link {
    position: absolute;
    top: 142px;
    left: 16px;
  }
}
