.intro {
  display: flex;
  flex-direction: column;
  padding: 114px 0 0 148px;
  /*width: calc(100% - 590px);*/
}
@media all and (max-width: 1024px) {
  .intro {
    padding: 114px 0 0 48px;
  }
}
@media all and (max-width: 768px) {
  .intro {
    padding: 110px 0 0 24px;
  }
}
@media all and (max-width: 320px) {
  .intro {
    padding: 40px 0 0 16px;
  }
}
