.intro {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding: 92px 0 0 148px;
}

@media all and (max-width: 1279px) {
  .intro {
    max-width: 1024px;
  }
}

@media all and (max-width: 1023px) {
  .intro {
    max-width: 768px;
    padding: 88px 0 0 24px;
  }
}

@media all and (max-width: 767px) {
  .intro {
    max-width: 320px;
    padding: 64px 0 0 16px;
  }
}
