.lead__subtitle {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  width: 640px;
  height: 72px;
  align-self: center;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
}
