.lead__subtitle {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  width: 640px;
  height: 72px;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
}
@media all and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
/*}
@media all and (max-width: 768px) {
  .lead__subtitle {
     padding-bottom: 56px;
  }
}
@media all and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    height: 40px;
    padding-bottom: 40px;
    padding-top: 16px;
  }
}*/
