.cover {
  background-image: url(../../images/cover-trains.jpg);
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  /*cursor: pointer;*/
  z-index: 1;
}
.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:#2A2C2F;
  opacity: 0.3;
  z-index: -1;
}
.cover:hover::before {
  opacity: 0.8;
}
