.footer__nav {
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px;
  grid-template-rows: repeat(1, 18px);
  gap: 18px;
}
@media all and (max-width: 767px) {
  .footer__nav {
    display: grid;
    grid-template-columns: 158px;
    grid-template-rows: repeat(5, 24px);
    gap: 32px;
    padding: 64px 0 48px 16px;
  }
}
