.lead__caption {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 140%;
  font-weight: normal;
  width: 158px;
  min-height: 14px;
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 8px;
}
/*@media all and (max-width: 1024px) {
  .lead__caption {
  }
}*/
@media all and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}
@media all and (max-width: 767px) {
  .lead__caption {
  }
}
