.lead__caption {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 140%;
  font-weight: normal;
  width: 158px;
  min-height: 14px;
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 623px;
}
/*@media all and (max-width: 1024px) {
  .lead__caption {
    padding: 589px 0 0 0;
  }
}*/
@media all and (max-width: 768px) {
  .lead__caption {
    padding: 488px 0 0 24px;
  }
}
@media all and (max-width: 320px) {
  .lead__caption {
    padding: 208px 0 0 16px;
  }
}
