.cover__title {
  color: #FFFFFF;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 560px;
  min-height: 152px;
  text-decoration: none;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
@media all and (max-width: 320px) {
  .cover__title {
    max-width: 240px;
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}
