.place {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 148px;
}
@media all and (max-width: 1024px) {
  .place {
    padding-left: 48px;
  }
}
@media all and (max-width: 768px) {
  .place {
    padding-top: 76px;
    padding-left: 24px;
  }
}
