.place {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 148px;
}
@media all and (max-width: 1279px) {
  .place {
    padding-left: 48px;
  }
}
@media all and (max-width: 1023px) {
  .place {
    padding-top: 76px;
    padding-left: 24px;
  }
}
@media all and (max-width: 767px) {
  .place {
    padding-top: 52px;
    padding-left: 0;
  }
}
