.footer {
  max-width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
@media all and (max-width: 1280px) {
  .footer {
    max-width: 92.5%;
  }
}
@media all and (max-width: 1024px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media all and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}
@media all and (max-width: 320px) {
  .footer {
    display: block;
    padding: 0;
  }
}
