.place__website-url-heading {
  margin: 0;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
}
@media all and (max-width: 767px) {
  .place__website-url-heading {
    padding-bottom: 12px;
  }
}
