.header__lang-ru {
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline;
  color: #FFFFFF;
}
/*@media all and (max-width: 319px) {
  .header__lang-ru {
    font-size: 18px;
    line-height: 20px;
  }
}*/
