.intro__title {
  color: #FFFFFF;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  max-width: 690px;
  min-height: 58px;
  margin: 0;
}
@media all and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
